.app {
    width: 375px;
    height: 812px;
    position: relative;
    margin: auto;
    padding: 20px 18px 0;
    background: linear-gradient(152deg, color(primary) 17%, color(secondary) 100%);
    overflow: hidden;
}
