.day-detail-info {
    width: 113.5px;
    height: 78.54px;
    border-right: 1px solid #EBEBEB;

    p {
        margin-top: 10px;
        color: #B3B3B3;
        font-size: 18px;
        letter-spacing: 0.54px;
        line-height: 22px;
        text-align: center;
    }
}