.icon-container {
    // margin: auto; ////////
    width: 40.98px;
    height: 40.98px;
    background: rgba($color-white, 0.25); ///////
    background: rgba(color(third), 0.25);
    padding: 6.83px;
    @include roundedCorners(50%);

    i {
        font-size: 27.32px; 
    }
}

.main-day-details-icon {
    margin: auto;
    background: rgba(color(third), 0.25);
}