.section-day-button, .home-section-steps-calories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: HelveticaNeueBold;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/HelveticaNeueBold.woff") format("opentype");
}

@font-face {
  font-family: HelveticaNeueMedium;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/HelveticaNeueMedium.woff") format("opentype");
}

body {
  color: #FFF;
  font-family: HelveticaNeueMedium;
  font-size: 15px;
  line-height: 1;
  -webkit-font-smoothing: subpixel-antialiased !important;
  font-weight: 400;
  height: 100%;
}

h1 {
  font-family: HelveticaNeueBold;
  font-weight: 400;
  letter-spacing: 0.48px;
  line-height: 41px;
  color: #00B6A3;
  font-size: 34px;
}

h2 {
  font-family: HelveticaNeueBold;
  font-weight: 400;
  letter-spacing: 0.91px;
  line-height: 46px;
  font-size: 38px;
}

h3 {
  color: #00B6A3;
  font-family: HelveticaNeueBold;
  font-weight: 400;
  letter-spacing: 0.96px;
  line-height: 49px;
  font-size: 40px;
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.24px;
}

@-webkit-keyframes slide-in {
  0% {
    left: -370px;
  }
  100% {
    left: 0px;
  }
}

@keyframes slide-in {
  0% {
    left: -370px;
  }
  100% {
    left: 0px;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

.animation-slide-in {
  -webkit-animation: slide-in 0.5s ease-out forwards;
  animation: slide-in 0.5s ease-out forwards;
}

.preloader {
  position: fixed;
  background: white;
  z-index: 99999;
  -webkit-animation: fade-out 0.5s 0.5s ease-in forwards;
  animation: fade-out 0.5s 0.5s ease-in forwards;
}

.preloader .item {
  position: absolute;
  width: 120px;
  height: 102px;
  margin: -60px 0 0 -60px;
  -webkit-animation: fade-out-rotate 2s ease-in forwards;
  animation: fade-out-rotate 2s ease-in forwards;
}

p.home-main-normal {
  font-size: 20px;
  letter-spacing: 0.48px;
  line-height: 21px;
  margin: 0 0 4px 15px;
}

p.home-main-small {
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.7);
  margin-left: 15px;
}

.section-day-button {
  margin: 30px 0;
  position: relative;
}

.section-day-button div {
  width: 60px;
  height: 60px;
  background: rgba(255, 255, 255, 0.25);
  padding: 11px;
  border-radius: 23px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -o-border-radius: 23px;
  -webkit-box-shadow: 0px 3px 9px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 9px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.section-day-button div p {
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

.section-day-button div:hover {
  background: white;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.section-day-button div:hover p {
  color: rgba(0, 182, 163, 0.7);
}

.section-day-button .active {
  background: white;
}

.section-day-button .active p {
  color: rgba(0, 182, 163, 0.7);
}

.main-day-details {
  position: relative;
  width: 340px;
  height: 555px;
  padding-top: 40px;
  background: #FFF;
  border-radius: 28px 28px 0px 0px;
  -webkit-border-radius: 28px 28px 0px 0px;
  -moz-border-radius: 28px 28px 0px 0px;
  -o-border-radius: 28px 28px 0px 0px;
  -webkit-box-shadow: 0px 3px 9px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 9px 0 rgba(0, 0, 0, 0.1);
}

.main-day-details p {
  color: #151C1F;
  font-size: 20px;
  letter-spacing: 0.6px;
  line-height: 24px;
}

.main-day-details h2 {
  color: #151C1F;
  font-size: 48px;
  line-height: 58px;
}

.main-day-details .main-day-details-circle {
  width: 231px;
  height: 231px;
  border: 8px solid #00B6A3;
  margin: auto;
  padding: 28px 45px 64px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
}

.main-day-details .main-day-details-circle p {
  margin: 6.02px 0 4px;
}

.main-day-details .main-day-details-circle h2 {
  letter-spacing: 1.15px;
}

.main-day-details .main-day-details-middle {
  padding-top: 30px;
  text-align: center;
}

.main-day-details .main-day-details-middle h2 {
  font-size: 40px;
  letter-spacing: 0.96px;
}

.main-day-details .day-details-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 73.96px;
}

header {
  position: relative;
  width: 340px;
  height: 117px;
  padding: 24px 27px;
  background: #FFF;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -o-border-radius: 28px;
}

header p {
  color: #898694;
  margin-top: 10px;
}

.header-day-details {
  background: rgba(255, 255, 255, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  -webkit-box-shadow: 0px 3px 9px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 9px 0 rgba(0, 0, 0, 0.1);
}

.header-day-details .arrow-left {
  width: 40px;
  height: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 10px;
  cursor: pointer;
}

.header-day-details .arrow-left i {
  font-size: 40px;
}

.header-day-details h1 {
  color: #fff;
}

.header-day-details p {
  color: rgba(255, 255, 255, 0.7);
}

main {
  position: relative;
}

.home-section-activity {
  width: 340px;
  height: 184px;
  background: rgba(255, 255, 255, 0.25);
  padding: 25px 20px;
  border-radius: 23px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -o-border-radius: 23px;
  -webkit-box-shadow: 0px 3px 9px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 9px 0 rgba(0, 0, 0, 0.1);
}

.home-section-activity .home-section-activity-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-section-activity h2 {
  margin: 25px 0 0 56px;
}

.home-section-steps-calories {
  width: 340px;
  height: 93px;
  background: rgba(255, 255, 255, 0.25);
  padding: 24px 30px 24px 20px;
  margin-top: 15px;
  border-radius: 23px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -o-border-radius: 23px;
  -webkit-box-shadow: 0px 3px 9px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 9px 0 rgba(0, 0, 0, 0.1);
}

.home-section-steps-calories .home-section-steps-calories-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-container {
  width: 40.98px;
  height: 40.98px;
  background: rgba(255, 255, 255, 0.25);
  background: rgba(0, 182, 163, 0.25);
  padding: 6.83px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
}

.icon-container i {
  font-size: 27.32px;
}

.main-day-details-icon {
  margin: auto;
  background: rgba(0, 182, 163, 0.25);
}

.day-detail-info {
  width: 113.5px;
  height: 78.54px;
  border-right: 1px solid #EBEBEB;
}

.day-detail-info p {
  margin-top: 10px;
  color: #B3B3B3;
  font-size: 18px;
  letter-spacing: 0.54px;
  line-height: 22px;
  text-align: center;
}

.app {
  width: 375px;
  height: 812px;
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 20px 18px 0;
  background: linear-gradient(152deg, #34C7A0 17%, #008AA2 100%);
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */